body {
  background-color: #FDEEDC;
}
hr {
border-color: gray;
border-style: dotted none none;
border-width: 8px;
width: 2%

}
 h1 {
   color: #87805E;
 }
 h2 {
   color: #B09B71;
 }

 h3 {
   color: #B09B71;
 }
